.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.topBar img {
  width: 100px;
}

.topBar img {
  width: 40px;
}

.topBar h1 {
  font-size: 20px;
}